@import "nib"
@import "normalize.styl"
@import "fonts.styl"

rojoCorazon = #d12845
verdeSalud = #00be63
cafeOscuro = #5a463d
cafeFooter = #22201f
cafeClaro = #86796f
amarilloClaro = #fbf8e0
azulMedico = #3399cc

body
	background amarilloClaro
	color cafeOscuro
	font-family latoregular
	font-size 18px

figure
img
ul
	margin 0
	padding 0

footer
	background cafeFooter
	position relative
	text-align center
	width 100%
	&:before
		background-image url("../img/bg/grass.png")
		content ''
		height 40px
		left 0
		position absolute
		top -40px
		width 100%
	#swtj
		display inline-block
		margin-bottom 1em
		img
			display block
			margin 2em 0 0 0
		p
			color amarilloClaro
			font-size 1.3em
			display inline-block
		.circle
			background amarilloClaro
			border-radius 50%
			color cafeFooter
			display inline-block
			font-size 1.2em
			margin-right 1.4em
			padding .35em
			text-decoration none

h1
	font-family klinic_slabbold
	color rojoCorazon

h2
	font-family klinic_slabbold
	font-size 1.7em
	text-transform uppercase

h3
	font-family klinic_slabbold
	font-size 1.4em

header
	background-image url("../img/bg/bg1.jpg")
	background-size cover
	color white
	height 600px
	position relative
	text-align center
	&:before
		content ''
		background rgba(verdeSalud, .8)
		height 600px
		left 0
		position absolute
		right 0
		top 0
	.bar
		background-image url("../img/bg/marquee2x.png")
		background-size cover
		width 100%
		height 10px
		position absolute
		top 100%
		left 0
	figure
		position relative
		text-align center
		img
			display block
			margin 0 auto
			&:first-child
				padding-top 2.5em
			&:last-child
				padding-top 1em
		p
			margin 0
		.swText
			height 140px

	.btnTickets
		background rgba(white, .85)
		border 2px solid white
		border-radius 4px
		color cafeOscuro
		display inline-block
		font-family klinic_slabbold
		font-size 1.5em
		margin 1.5em auto 0
		padding .6em 1.2em
		position relative
		text-decoration none

#description
	background white
	border-bottom 1px solid #CCC
	text-align center
	.twits
		display inline-block
		max-width 340px
		overflow hidden
		padding 4em
		text-align left
		.user
			padding-top .6em
			.picTwit
				border 2px solid verdeSalud
				border-radius 50%
				float left
				height 55px
				width 55px
			p
				display inline-block
				margin .6em 0 0 1em
	.video
		display inline-block
		margin 4.8em 0

#details
	text-align center
	#skills
	#ideas
		margin-top 4em
		ul
			margin-top 3em
			li
				display inline-block
				margin 0 1.5em
				max-width 230px
				&:first-child
					margin-left 0
				&:last-child
					margin-right 0
				.circle
					background rgba(white, .75)
					border 1px dashed cafeOscuro
					border-radius 50%
					display inline-block
					font-size 6em
					padding .35em
					transition background .5s
				.icon-code
				.icon-heart
					&:hover
						background rojoCorazon
						border 1px dashed white
						color white
				.icon-design
				.icon-apple
					&:hover
						background verdeSalud
						border 1px dashed white
						color white
				.icon-business
				.icon-pharmacy
					&:hover
						background cafeClaro
						border 1px dashed white
						color white
				.icon-doctor
				.icon-stethoscope
					&:hover
						background azulMedico
						border 1px dashed white
						color white

	#program
		margin-top 4em
		section
			background white
			border 1px solid #CCC
			margin 3em auto 0
			max-width 1000px
			article
				padding-right 1.5em
				text-align left
				&:last-child
					margin-bottom 3em
				.friday
					background-image url("../img/bg/friday.png")
				.saturday
					background-image url("../img/bg/saturday.png")
				.sunday
					background-image url("../img/bg/sunday.png")
				.ribbon
					background-position center
					background-repeat no-repeat
					background-size contain
					height 56px
					margin 1.2em 0 0 -29px
					padding-top .7em
					width 485px
					h3
						color white
						margin 0 0 0 1.2em
				figure
					color rgba(cafeOscuro, .25)
					float left
					font-size 7em
					padding .18em .2em
	
	#ideas
		margin-bottom 4em
		h2
			span
				&:first-child
					color rojoCorazon
				&:last-child
					color verdeSalud

#experts
	background rojoCorazon
	color white
	overflow hidden
	text-align center
	h2
		margin-top 2em
	#mobile
	#slider
		margin-bottom 4em
		.itemExpert
			display inline-block
			margin 0 1.5em
			max-width 230px
			&:first-child
				margin-left 0
			&:last-child
				margin-right 0
			.circle
				border 1px dashed white
				border-radius 50%
			h3
				margin .4em 0 0 0
			p
				margin-top 0
				color rgba(white, .5)
	#mobile
		display none
#map
	height 450px

#organizers
	background verdeSalud
	color white
	overflow hidden
	text-align center
	h2
		margin-top 2em
	ul
		margin-top 3.5em
		margin-bottom 4em
		li
			display inline-block
			margin 0 1.5em
			max-width 230px
			&:first-child
				margin-left 0
			&:last-child
				margin-right 0
			.circle
				border 1px dashed white
				border-radius 50%
			h3
				margin .4em 0 0 0
			p
				margin-top 0
				color rgba(white, .5)

#sponsors
	background white
	border-bottom 1px solid #CCC
	text-align center
	figure
		max-width 1000px
		display inline-block
		margin 2em 0 3em
		img
			width 100%

#tickets
	text-align center
	overflow hidden
	h2
		margin-top 2em
	.btnEventbrite
		background-image url("../img/bg/boletos.png")
		background-repeat no-repeat
		background-size contain
		display none
		height 58px
		margin 3em auto 6em
		width 190px
	.eventbrite
		max-width 740px
		margin 3em auto

@media screen and (max-width:480px)
	footer
		#swtj
			padding 0
		#sponsors
			display none
	header
		figure
			.swText
				height 95px
				margin-top 1em
		.btnTickets
			display none
		.bar
			height 5px
	#description
		.twits
			padding .5em
			margin 3em 0
	#details
		#skills
		#ideas
			ul
				li
					margin 1em 0
		#program
			margin-top 0
			section
				margin 0em 1em
				article
					padding 0 1em
					text-align center
					.friday
					.saturday
					.sunday
						background-image none
					.ribbon
						padding 0
						width auto
						h3
							color cafeOscuro
					figure
						float none
					.p-description
						display none
	#experts
		#slider
			display none
		#mobile
			display block
			.itemExpert
				margin 1em 0
	#organizers
		ul
			li
				margin 1em 0
	#tickets
		.btnEventbrite
			display block
		.eventbrite
			display none

@media screen and (max-width:700px)
	#description
		.video
			height 0
			width 95%
			overflow hidden
			padding-bottom 56.25%
			padding-top 30px
			position relative
			iframe
				height 100%
				left 0
				position absolute
				top 0
				width 100%

@media screen and (min-width:490px) and (max-width:1145px)
	footer
		#swtj
			padding 0
			margin-bottom 2em
		#sponsors
			display none
	#description
		.video
			margin-top 0
	#details
		#skills
			ul
				li
					margin 1em
					&:first-child
						margin-left 1em
					&:last-child
						margin-right 1em
		#program
			section
				margin 3em 1.5em 0
				article
					padding 1em
					text-align center
					.ribbon
						margin 0 0 0 -47px
						padding-top .6em
						text-align left
						h3
							margin 0 0 0 1em
					figure
						float none
		#ideas
			ul
				li
					margin 1em
					&:first-child
						margin-left 1em
					&:last-child
						margin-right 1em
	#experts
		#slider
			display none
		#mobile
			display block
			.itemExpert
				margin 1em
				&:first-child
					margin-left 1em
				&:last-child
					margin-right 1em
	#organizers
		ul
			li
				margin 1em
				&:first-child
					margin-left 1em
				&:last-child
					margin-right 1em